<div class="w3-row-padding">
  <div class="row card-mobile">
    <div class="card">
      <span class="title my-1 mx-1">Last Used</span>
      <span class="count">{{ hotelInfo.lastUsed | date }}</span>
    </div>
    <div class="card">
      <span class="title my-1 mx-1">Upcoming Confirmed</span>
      <span class="count">{{ hotelInfo.upcomingConfirmed || "N/A" }}</span>
    </div>
    <div class="card">
      <span class="title my-1 mx-1">Upcoming Request</span>
      <span class="count">{{ hotelInfo.upcomingRequest || "N/A" }}</span>
    </div>
    <div class="card">
      <span class="title my-1 mx-1">Next Booking Date</span>
      <span class="count">{{ hotelInfo.nextBookingDate | date }}</span>
    </div>
    <div class="card">
      <span class="title my-1 mx-1">Open(Total Complaints)</span>
      <span class="count"
        >{{ hotelInfo.openComplaints || "N/A" }}({{
          hotelInfo.totalComplaints || "N/A"
        }})</span
      >
    </div>
    <div class="card">
      <span class="title my-1 mx-1">To be paid</span>
      <span class="count">{{ hotelInfo.toBePaid || "N/A" }}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-lg-6 mt-3 col-md-12 com-sm-12">
      <div class="card shadow-5-strong" style="border-top: 6px solid black">
        <h5 style="color: grey; margin-left: 10px">Booking Overviews</h5>
        <!-- <canvas baseChart [data]="barChartData"  [type]="'bar'"> </canvas> -->
        <canvas
          class="p-3"
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="bar"
        ></canvas>
      </div>
    </div>
    <div class="col-lg-6 mt-3 col-md-12 com-sm-12">
      <div class="card shadow-5-strong" style="border-top: 6px solid black">
        <h5 style="color: grey; margin-left: 10px">Map</h5>
        <!-- <div id="map" style="height: 400px;"></div>
         -->
        <div id="map" leaflet [leafletOptions]="options" style="height: 285px"></div>
      </div>
    </div>
  </div>
</div>
